[general]
# mainnet || testnet
network = "mainnet"

# Program execution period (minutes)
period = 60

validator_acc = "axelar123..."

rpc = "https://axelar-rpc...:443"
api = "https://axelar-api...:443"

grpc = "axelar-grpc...:443"
grpc_secure_connection = true

listen_port = 8080

[tg]
enable = true
token = "..."
chat_id = "..."

[heartbeat]
# The number of heartbeats you want to check.
check_n = 3

# If a heartbeat is missed for more than miss_cnt, an alarm will triggered.
miss_cnt = 	2

[evm_vote]
# The number of votes for each external chain events you want to check.
check_n = 10

# If a votes is missed for more than miss_cnt, an alarm will triggered.
miss_cnt = 5

# Chains you don't want to monitor.
# If empty, all evm votes will be monitored.
# Example) "aurora, ethereum"
except_chains = ""
